.avatar {
    border-radius: 9999px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.sm {
    width: 2rem;
    height: 2rem;
}

.md {
    width: 2.5rem;
    height: 2.5rem;
}

.lg {
    width: 3rem;
    height: 3rem;
}

.xl {
    width: 5rem;
    height: 5rem;
}

.withRing {
    border: 2px solid rgba(244, 157, 37, 0.3);
}